/*
*****************************
Header 
*****************************
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 9.6rem;
  position: relative;
}

/*
*****************************
Navigation section
*****************************
*/

.logo {
  height: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  background-color: #fd7e14;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d9480f;
}

/*
*****************************
 mobile Navigation section
*****************************
*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  font-size: 3rem;
}
.icon-mob-nav {
  height: 4rem;
  width: 4rem;
  color: #333;
}

.icon-mob-nav[name="close-outline"] {
  display: none;
}

/* 
<button class="btn-mobile-nav">
<ion-icon class="icon-mob-nav" name="menu-outline"></ion-icon>
<ion-icon class="icon-mob-nav" name="close-outline"></ion-icon>
</button> */
/* 
.icon-mob-nav[name="close-outline"] {
  display: none;
} */

/*
*****************************
Hero section
*****************************
*/

.section-hero {
  background-color: #fae5d3;
  padding: 9.6rem 0;
  padding-top: 4.8rem;
}

/* @media (max-width: 1200px) {
  .section-hero {
    background-color: red;
  }
}

@media (max-width: 600px) {
  .section-hero {
    border: 10px solid rgb(0, 255, 221);
    background-color: cadetblue;
  }
} */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 4.8rem;
}
.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #495057;
  line-height: 1.4;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 5.4rem;
  width: 5.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 1px solid #fff;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: #495057;
}

.delivered-imgs img:last-child {
  margin: 0px;
}
.delivered-text span {
  color: #e67e22;
}

/*
*****************************
Featured   section
*****************************
*/

#how {
  text-decoration: none;
}

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.75px;
  padding-bottom: 5rem;
}

.logos img {
  height: 3.2rem;
}

.logos {
  display: flex;
  justify-content: space-around;
  filter: brightness(0);
  opacity: 50%;
}

/*
*****************************
How It work  section
*****************************
*/
.section-how {
  padding: 9.6rem 0;
  /* background-color: salmon; */
}

.step-img {
  width: 45%;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 700;
  color: #c5ced6d0;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 2rem;
  line-height: 1.6;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  /* width: 70%; */

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::after {
  width: 50%;
  background-color: #f3c195;
  padding-bottom: 50%;
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  background-color: #f7d6b8;
  padding-bottom: 80%;
  z-index: -2;
}

/*
*****************************
  section - meals 
*****************************
*/

.section-meals {
  padding: 9.6rem 0;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.8rem;
  color: #495057;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meal-attribute {
  font-size: 1.8rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.meal-icon {
  font-size: 2.4rem;
}

.tag {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: chartreuse;
  text-transform: uppercase;
  font-size: 1.2rem;

  color: #333;
  border-radius: 100px;
}
.tag-vegan {
  background-color: chartreuse;
}

.tag-paleo {
  background-color: yellow;
}
.meal-tag {
  padding-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
}

.meal-content {
  padding: 2.4rem 3.2rem 3.4rem 3.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.list-icon {
  font-size: 3rem;
  color: #d9480f;
}

.list-items {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.diet-text {
  padding-bottom: 2rem;
}

.all-recipes {
  text-align: center;
  font-size: 2rem;
}

/*
*****************************
Testimonial section  
*****************************
*/

#Testimonials {
  text-decoration: none;
}

.gallery-item img {
  display: inline;
  width: 100%;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

.testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 4.8rem;
}

.testimonials-container {
  padding: 9.6rem;
}

.section-testimonial {
  background-color: #f7d6b8;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.5rem;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1.6rem;
}

/*
*****************************
Pricing section  
*****************************
*/

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #d9480f;
  font-weight: 600;
  font-weight: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
}

.pricing-plan .plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
}

.pricing-plan--complete {
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;

  top: 31px;
  right: -58px;

  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-weight: 900;
  background-color: yellow;
  padding: 10px 50px;
  border-radius: 5px;
  transform: rotate(45deg);
}

.pricing-plan--starter {
  justify-self: end;
}

.pricing-plan {
  background-color: #fae5d3;
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.section-pricing {
  padding: 9.6rem 0;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.featured-icon {
  font-size: 3rem;
  color: #d9480f;
  margin-bottom: 3rem;
  background-color: beige;
  padding: 1.5rem;
  border-radius: 50%;
}

.featured-title {
  font-size: 2.4rem;
  font-weight: 800;
  color: #333;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}

.featured-text {
  font-size: 1.5rem;
  line-height: 1.8;
  letter-spacing: 1;
  font-weight: 700;
}

.plan-detail {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

/*
*****************************
CTA -section  
*****************************
*/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fd7e14;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);

  height: 50rem;
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #fd7e14 #ebb284);
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(226, 121, 15, 0.5),
      rgba(250, 146, 56, 0.5)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.4rem 4.4rem 4.4rem 8rem;
  color: #3b1404;
}

.cta .heading-secondary {
  margin-bottom: 1.8rem;
  color: #3b1404;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.2rem;
  row-gap: 2.2rem;
  margin-bottom: 2.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: moccasin;
  border: none;
  border-radius: 9px;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(207, 113, 31, 0.589);
}

/*
*****************************
Footer  -section  
*****************************
*/

.footer {
  padding: 9.6rem 0;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: rgba(66, 60, 60, 0.966);
}

.text-decoration {
  text-decoration: none;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #495057;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #d9480f;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.social-link {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}
.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.copyright {
  font-size: 1.8rem;
  color: #495057;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.address {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 7rem;
}

.footer {
  padding: 15rem 0;
  border-top: 3px solid rgb(243, 221, 159);
}
